
<style>
    .div {
        height: 450px;
        /*width: 1000px;*/
    }

    .div-1 {
        height: 450px;
        width: 300px;
    }

    .x-axis .domain, .domain, .center-axis .domain, .header-y-axis-1 .domain, .header-y-axis-2 .domain, .header-y-axis-3 .domain, .separator-line, .vertical-separator {
        stroke: #000;
        fill: none;
        shape-rendering: crispEdges;
    }

    text {
        font-size: 10px;
    }
</style>


<!--<div >
    <div ng-repeat="item in $mctrl.data" style="display:inline-block"
         app-more-grp-bar-chart
         group-data="item"
         group-title="{{$sctrl.groupTitle}}"
         hide-y-axes="{{$sctrl.hideYAxes}}"
         group-bar-colors="$mctrl.colors"
         class="div">
    </div>
</div>

<div app-more-grp-bar-chart
     group-data="$sctrl.data[1]"
     group-title="{{$sctrl.groupTitle}}"
     hide-y-axes="true"
     group-bar-colors="$mctrl.colors"
     class="div">
</div>-->

<div app-single-grp-bar-chart
     group-data="$sctrl.data"
     group-title="{{$sctrl.groupTitle}}"
     hide-y-axes="true"
     group-bar-colors="$sctrl.colors"
     sector-title ="sector"
     class="div">
</div>